body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
}

/* Barra superior */
.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}

.titulo-barra {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.salir {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Saludo usuario debajo de barra */
.saludo-usuario {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
}

.saludo-usuario span {
  font-weight: bold;
}

/* Imagen superior derecha */
.imagen-superior {
  position: absolute;
  top: 70px; /* Debajo de barra superior */
  right: 20px;
  width: 100px;
  height: auto;
  border-radius: 10px;
}

/* Sección de ánimo */
.estado-animo {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px 0 20px 0; /* Ajustado para compactar */
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.estado-animo span {
  font-family: Arial, sans-serif;    
  display: block;
  font-size: 20px;
  margin-bottom: 35px;
}

.emojis {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.emojis button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 40px;
  width: 220px;
  height: 70px;
  font-size: 28px;
  cursor: pointer;
  margin: 5px;
}

.mensaje-emocion {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #ff0000;
  font-weight: bold;
}


.emojis button:hover {
  transform: scale(1.2);
}

/* Emoji seleccionado */
.emojis button.selected {
  background-color: white;
  color: #333;
  border: 2px solid #333;
}




/* Tarjetas */
.tarjetas {
  font-family: Arial, sans-serif;    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 80px;
}

.tarjeta {
  font-family: Arial, sans-serif;    
  background-color: white;
  border-radius: 15px;
  padding: 30px; /* tamaño similar al anterior */
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tarjeta .icono {
  font-size: 56px;
  margin-bottom: 10px;
}

/* Barra inferior */
.barra-inferior {
  font-family: Arial, sans-serif;    
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.barra-inferior button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.barra-inferior .icono {
  font-size: 40px;
  margin-bottom: 5px;
}
